torch
transformers
datasets
evaluate
huggingface_hub
optimum[onnxruntime]
onnx
onnxruntime
stable-baselines3
gymnasium
scikit-learn
numpy
pandas
matplotlib
seaborn
scipy
pydantic
openai
tqdm
joblib
ipywidgets
jupyter
